<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/aboutUs.css">
    
</head>
<body>
    <nav class="navbar">
        <div class="navbar-heading">PD Quiz</div>
        <div class="menu-toggle" id="mobile-nav">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
        </div>
        <ul class="nav-menu">
            <li><a href="/signup" class="nav-links">About Us</a></li>
            <li><a href="/login" class="nav-links">Login</a></li>
        </ul>
    </nav>

    <h1 class="about-heading">Meet our Team</h1>
    <div class="about-container">
       <div class="about-card">
        <div class="about-image">
           <img src="./Images/yash.png" alt="Avatar" style="width:100%">
           </div>
           <div class="about-info">
             <h2>Yash Gupta</h2>
             <div class="socialicon">
                <a href="https://www.linkedin.com/in/yash-gupta-56432a20a/"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/YASH-GU24"><i class="fa fa-github"></i></a>
             </div>
           </div>
         </div>
         <div class="about-card">
            <div class="about-image">
           <img src="./Images/abhinav.png" alt="Avatar" style="width:100%">
           </div>
           <div class="about-info">
             <h2>Abhinav Bisht</h2>
             <div class="socialicon">
                <a href="https://www.linkedin.com/in/abhinav-bisht-61491122a/"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Abhinav-Singh-Bisht"><i class="fa fa-github"></i></a>
             </div>
           </div>
         </div>
         <div class="about-card">
            <div class="about-image">
           <img src="./Images/sushant.png" alt="Avatar" style="width:100%">
           </div>
           <div class="about-info">
             <h2>Sushant Dhuria</h2>
             <div class="socialicon">
                <a href="https://www.linkedin.com/in/sushant-dhuria-b03712203/"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/sushant-dhuria"><i class="fa fa-github"></i></a>
             </div>
           </div>
         </div>
    </div>



    <script src="./JS/main.js"></script>
</body>
</html>