<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>

	<link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/createQuiz.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-heading">PD Quiz</div>
        <div class="menu-toggle" id="mobile-nav">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
        </div>
        <ul class="nav-menu">
            <li><a href="/profile" class="nav-links">Profile</a></li>
            <li><a href="/about" class="nav-links">About us</a></li>
            <li class="abc">
                <a href="/logout" class="nav-links">Logout</a>
            </li>
        </ul>
    </nav>
	
    <div class="form-class">
        <h1>Create Quiz</h1>
        <form action="/createquiz" id="form1" class="search_form" spellcheck="false" method="post"> 
           <input type="text" name="quizName" label="Name-" placeholder="Name" required="" class="form-control question"><br/>
           <input type="text" name="quizDescription" label="Description-" placeholder="Description" required="" class="form-control question"><br/>

   <button type="submit" class="submit-btn">Submit</button>
       </form>
    </div>
</body>
</html>