<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
	<link rel="stylesheet" href="./css/main.css">
</head>
<body>

    <nav class="navbar">
        <div class="navbar-heading">PD Quiz</div>
        <div class="menu-toggle" id="mobile-nav">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
        </div>
        <ul class="nav-menu">
            <li><a href="/about" class="nav-links">About Us</a></li>
            <li><a href="/login" class="nav-links">Login</a></li>
        </ul>
    </nav>

    <div class="main-info">
        <div class="main-info__image">
            <img src="./Images/testing.png">
        </div>
        <div class="main-info__intro">
            <h1>Make Quiz Easily</h1>
            <p>With the help of PD Quiz make quiz anytime , anywhere.</p>
            <button class="register-btn"><a href="/signup">Get Started</a></button>
            <a href="/login">Log in</a>
        </div>
    </div>

    <div class="features">
        <h1>Features We Provide</h1>
        <div class="cards">
            <div class="card">
                <div class="card-image">
                    <img src="./Images/admin.png">
                </div>
                <div class="card-info">
                    <p>Admin can make an modify the quiz as per the requirement
                        Can get the statistics and generate links
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="./Images/person.png">
                </div>
                <div class="card-info">
                    <p>A Person can attempt any quiz with the help of login
                        just by entering their name.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <h1>Created by PD</h1>
    </footer>


    <script src="./JS/main.js"></script>
	</div>
</body>
</html>